@font-face {
	font-family: 'STIX2Text';
	font-style: normal;
	font-weight: normal;
	src:
		url('./otf/STIX2Text-Regular.otf') format('opentype'),
		url('./woff/STIX2Text-Regular.woff') format('woff'),
		url('./woff2/STIX2Text-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'STIX2Text';
	font-style: normal;
	font-weight: bold;
	src:
		url('./otf/STIX2Text-Bold.otf') format('opentype'),
		url('./woff/STIX2Text-Bold.woff') format('woff'),
		url('./woff2/STIX2Text-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'STIX2Text';
	font-style: italic;
	font-weight: normal;
	src:
		url('./otf/STIX2Text-Italic.otf') format('opentype'),
		url('./woff/STIX2Text-Italic.woff') format('woff'),
		url('./woff2/STIX2Text-Italic.woff2') format('woff2');
}
@font-face {
	font-family: 'STIX2Text';
	font-style: italic;
	font-weight: bold;
	src:
		url('./otf/STIX2Text-BoldItalic.otf') format('opentype'),
		url('./woff/STIX2Text-BoldItalic.woff') format('woff'),
		url('./woff2/STIX2Text-BoldItalic.woff2') format('woff2');
}
@font-face {
	font-family: 'STIX2Math';
	font-style: normal;
	font-weight: normal;
	src:
		url('./otf/STIX2Math.otf') format('opentype'),
		url('./woff/STIX2Math.woff') format('woff'),
		url('./woff2/STIX2Math.woff2') format('woff2');
}
