<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/css/main.css' type='text/css'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{{ title }}</title>
</head>
<body>

{{ contents | safe }}

<footer>
  <div>
    {% if not homepage %}
      Ondra Simek
    {% endif %}
    <a href='mailto:me@ondrejsimek.com'>&lt;me@ondrejsimek.com&gt;</a>
    {% if published %}
      <span style='white-space:nowrap'>@ {{ published }}</span>
    {% endif %}
  </div>
  <div>
    <a href='https://creativecommons.org/licenses/by/4.0/'>CC BY 4.0</a>
    <a class='mode' href='javascript:alert("Change your OS/browser settings to change color mode.")'></a>
    <a href='/'>back to /</a>
  </div>
  <div class='ukraine-flag'>
    <div>Glory to Ukraine!</div>
    <div>Путiн хуйло</div>
  </div>
</footer>

</body>
</html>
