<!doctype html>
<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link rel='stylesheet' href='/css/main.css' type='text/css'>
  <link rel='stylesheet' href='/css/stix/stix.css'>
  <link rel='stylesheet' href='/css/vga/vga.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Oswald'>
  <meta name='viewport' content='width=device-width, initial-scale=1'>
  <title>{{ title }}</title>
</head>
<body>

{% if not homepage %}
  <nav><a href='/'>&lt; back to ondrejsimek.com</a></nav>
{% endif %}

{{ contents | safe }}

<footer>
  <div>
    //
    {% if not homepage %}
      Ondrej Simek
    {% endif %}
    <a href='mailto:me@ondrejsimek.com'>&lt;me@ondrejsimek.com&gt;</a>
    {% if published %}
      <span style='white-space:nowrap'>@ {{ published }}</span>
    {% endif %}
  </div>
  <div class='license'>
    <a href='https://creativecommons.org/licenses/by/4.0/'>
      <img src='/img/cc/cc.svg'>
      <img src='/img/cc/by.svg'>
    </a>
  </div>
</footer>

</body>
</html>
