body { max-width: 60rem; margin: 1rem; }

p,li { text-align: justify; line-height: 1.6rem; }
pre { max-width: 100%; overflow: auto; padding: 1rem; background: #eee; }

figure>figlabel { display: block; font-style: italic; }


nav, footer { font-family: monospace; font-weight: bold; line-height: 2.5; }
nav { border-bottom: 1px solid #000; }
footer {
	border-top: 1px solid #000;
	margin-top: 1rem;
}
nav a, footer a { text-decoration: none; }
footer>div.license img { height: 1.5rem; vertical-align: middle; }

th, td { padding: .2rem .6rem; }
th { background: #ddd; text-align: left; }
td { background: #eee; }

kbd {
	font-weight: bold;
	border-radius: 3px;
	padding: 0 .4em;
	background: #eee;
	border: 1px solid #bbb;
	border-bottom-width: 2px;
}

.home {
	column-count: 3;
	column-width: 18rem;
}
section { break-inside: avoid; }

@media (prefers-color-scheme: dark) {
	.light-only { display: none; }
	body { background: #000; color: #eee; }
	kbd { background: #222; border-color: #444; }
	nav, footer { border-color: #eee; }
	a { color: #99f; }
	th { background: #333; }
	td { background: #222; }
	pre { background: #222; }
}

@media (prefers-color-scheme: light) {
	.dark-only { display: none; }
}

.ukraine-flag { margin-top: 1rem; }
.ukraine-flag>div { line-height: 2rem; min-height: 2rem; text-align: center; }
.ukraine-flag>div:nth-child(1) { background-color: #0057b7; color: #ffd700; }
.ukraine-flag>div:nth-child(2) { background-color: #ffd700; color: #0057b7; }
